# Node modules
node_modules/

# Build outputs
dist/
build/
out/
.next/

# Caches
.cache/
.parcel-cache/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Editor/IDE
.vscode/
.idea/

# Misc
public/build/
coverage/
/.sass-cache
